<p id="notice"><%= notice %></p>

<p align="center">
  <strong>Age:</strong><br>
  <%= @user_profile.age %>
</p>

<p align="center">
  <strong>Location:</strong><br>
  <%= @user_profile.location %>
</p>

<p align="center">
  <strong>Mobile number:</strong><br>
  <%= @user_profile.mobile_number %>
</p>

<p align="center">
  <strong>User tag:</strong><br>
  <%= @user_profile.user_tag %>
</p>


<div class="center">
  <%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
  <%= link_to 'Back', user_profiles_path %>
</div>