<p id="notice"><%= notice %></p>

<p align="center">
  <strong>Address1:</strong><br>
  <%= @address.address1 %>
</p>

<p align="center">
  <strong>Address2:</strong><br>
  <%= @address.address2 %>
</p>

<p align="center">
  <strong>City:</strong><br>
  <%= @address.city %>
</p>

<p align="center">
  <strong>Postcode:</strong><br>
  <%= @address.postcode %>
</p>

<div class="center">
  <%= link_to 'Edit', edit_address_path(@address) %> |
  <%= link_to 'Back', addresses_path %>
</div>